.sliderContainer {
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 0!important;
  img {
    border-radius: 24px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sliderContainer :global(.slick-slide) {
  padding: 0 !important;
}
.sliderContainer :global(.slick-list) {
  height: 100%;
}

@media all and (max-width: 768px) {
  .sliderContainer {
    height: unset;
  }
}
