@import "../../../styles/variables";


.loadMoreButton {
  height: 30px;
  color: $disable-color !important;
  flex-direction: row-reverse;
  white-space: nowrap;
  padding: 0 !important;
  > div {
    > div {
      width: unset !important;
    }
    margin: 0 6px 0 0;
  }
}
.dote {
  width: 12px;
  height: 8px;
  background: $main-background;
  border-radius: 2px;
}
.doteActive {
  background: $primary-color;
}
.titleMargin {
  margin: $slick-slide-padding 0;
}
.line {
  height: 1px;
  background-color: #FFE9EE;
  width: 100%;
  padding: 0 1rem;
  margin: 0 1rem;
}
@media all and (max-width: 768px) {
.line {
  margin: 0 1rem 0 0 !important;
}
}