@import "styles/variables";

.sliderContainer{
  display: flex;
  width:100%;
}
.sliderRow{
  width:100%;
  margin:0;
}
.dotsInView :global(.slick-dots) {
  bottom: 25px !important;
  position: absolute !important;
}
.dataRow {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width:100%;
  padding: 0 15px;
  margin:0;

}
.next , .pre {
  position: absolute;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: unset !important;
  height: unset !important;
}
.next {
  left: -1px !important;
  right: unset;
}
.pre {
  left: unset;
  right: -1px !important;
}
.next:before , .pre:before{
  content: none;
}
.dot {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  bottom: 25px !important;
  position: absolute !important;

  li {

    position: relative;
    display: inline-block;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    width: 10px !important;
    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
    }
    button:before {
      font-family: 'slick';
      font-size: 7px;
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      content: '•';
      text-align: center;
      opacity: 1;
      color: white;
      -webkit-font-smoothing: antialiased;
    }
  }
  li:global(.slick-active) button:before {
    color: black;
    opacity: 0.8;
  }
}

.dotVertical {
  display: flex !important;
  flex-direction: column;
  width: unset;
  left: 1.5rem;
  bottom: 1.5rem !important;
  li {
    height: 12px;
    margin: 0;
    button:before {
      width: unset;
    }
  }
}
@media all and (max-width: 768px) {
  .next , .pre {
    width: 12px !important;
  }
}