@import "styles/variables";

.input {
  border: 1px solid $form-border;
  background: $form-background;
  border-radius: 8px;
  text-overflow: ellipsis;
  height: 38px;
}

.hintInput {
  border-color: $red;
}
.hintInput::placeholder {
  color: $red;
  opacity: 0.7;
}

.icon{
  position:absolute;
  top:10px;
  left:10px;
  width: 20px!important;
  height: 20px!important;
  cursor: pointer;
}

.disableSelect {
  background: $disable-color;
}