@import "styles/variables";

.card {
  transition:all 0.3s;
  border-radius: 8px;
  cursor: pointer;
  border-style: solid;
  border-color: grey;
}
.cardAnimation:hover{
  transform: translateY(-5px);
}
.box {
  position: relative;
  overflow: hidden;
  display: flex;
}
.cardShadow {
  box-shadow: $box-shadow-small;
}
.cardShadow:hover {
  box-shadow: $box-shadow-large !important;
}