@import "../../../styles/variables";

.homeBoxRound > div {
  background-color: white;
}
.homeBox {
  background-color: white;
  padding: 1rem 0;
  width: 100%;
  margin: 1rem 0;
}
.catalog {
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  display: flex;
  div {
    padding: 0 0.5rem;
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}
.bgIcon {
  background-color: $light-gray;
  padding: 0.5rem;
  border-radius: 36px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .homeBoxRound > div {
    background: transparent;
    box-shadow: none;
  }
}