@import "styles/variables";

.imgContainer {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 16px;
  background-color: #F7F7F7;
  img{
    width: 100%;
  }
}
.line {
  border-top: 1px solid #AB8BD1;
  padding: 1rem 0;
  margin-top: 1rem;
}
.round {
  border-radius: 100px;
  border: 0 !important;
}
.namad {
  padding-right: 3.5rem;
}
@media all and (max-width: 768px) {
  .imgContainer {
    width: 100%;
  }
}