@import "../../styles/variables";

.main {
  width: 100%;
  position: relative;
}
.header {
  width: 100%;
  background-color: white;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
}
.content {
  flex: 1;
  width: 100%;
}
.footer {
  width: 100%;
  background-color: white;
}