@import "../../../../styles/variables";

.title {
  text-align: right;
  font-family: "iranSansBold", serif !important;
}
.price, .title {
  font-weight: bolder;
}
.price {
  text-align: left;
  span {
    font-size: 12px !important;
  }
}
.img {
  padding: 0 !important;
  width: unset !important;
}
.background {
  background-color: #F7F7F7;
  border-radius: 24px;
}
.oldPrice {
  color: $mid-gray;
  text-decoration: line-through;
}
.actionBtn {
  border: 1px solid $form-border;
  padding: 0 !important;
  width: 32px;
  height: 32px;
  border-radius: 32px !important;
}
.actionBtn:hover {
  border: 1px solid black !important;
}
.currency {
  font-size: 0.6rem;
}
.actionBtnContainer {
  display: flex;
  align-items: center;
  border-radius: 36px;
  p {
    width: 18px;
    text-align: center;
    margin: 0 10px;
  }
}
.percent {
  background: $red-linear;
  color: white;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  border-radius: 80px;
  text-align: center;
}
.colorBox {
  position: absolute;
  right: 10px;
  top: 30px;
  > div {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: red;
    margin-bottom: 0.5rem;
    box-shadow: 0 1px 4px 0 #00000040 inset;
  }
}
.imageContainer {
  width: 100%;
  border-radius: 24px;
  position: relative;
  background: $light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;

  img:after {
    content: "";
    display: block;
    overflow: hidden;
    padding-bottom: 100%;
  }
}

.max {
  text-align: center;
  font-size: 0.7rem !important;
}