@import "styles/variables";

.bg {
  background: $red-linear;
  border-radius: 24px;
}
.mobile {
  position: absolute;
  left: 2rem;
  bottom: 0;
}
.paddingContainer {
  padding: 10rem 7rem;
}
.btnDownload {
  background: #FFFFFF14 !important;
  color: $white !important;
}