@import "styles/variables";

.header {
  height: 80px;
  border-radius: 40px;
  box-shadow: 0 0 24px 0 #BDB6B740;
  padding: 1.5rem;
}
.search {
  border-radius: 32px !important;
  background: #F7F7F7 !important;
  border: none !important;
  position: relative !important;
  padding-left: 2rem !important;
}
.authBtn {
  padding: 0.5rem 1rem !important;
}

@media all and (max-width: 768px) {
  .header {
    box-shadow: none;
    padding: 0;
  }
  .authBtn {
    padding: 0 !important;
  }
}