@import "./variables";

$colors : (
        primary:$primary-color,
        secondary:$secondary-color,
        third:$third-color,
        red:$red,
        red-linear:$red-linear,
        green:$green,
        blue:$blue,
        white:$white,
        black:$black,
        yellow:$yellow,
        light-gray:$light-gray,
        mid-gray:$mid-gray,
        dark-gray:$dark-gray,
        transparent:$transparent,
        text-color: $text-color
);

@each $color, $value in $colors {
  .cms-color-#{$color} {
    color: $value;
  }
  .cms-back-#{$color} {
    background: $value;
  }
  .cms-border-#{$color} {
    border-color: $value;
  }
  .cms-fill-#{$color}{
    svg path{
      fill: $value;
    }
  }
}