.fontV1 {
  font-size: 1rem !important;
  font-family: "iranSansBold", serif !important;
}
.fontV2 {
  font-size: 1.3rem !important;
  font-family: "iranSansBold", serif !important;
}
.fontV3 {
  font-size: 14px !important;
}
.fontV4 {
  font-size: 12px !important;
}