@import 'variables.scss';
@import './colors';
@import './lightColors.scss';

@font-face { font-family: "iranSans";
  src: url("../public/font/woff2/IRANSansXFaNum-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face { font-family: "iranSansBold";
  src: url("../public/font/woff2/IRANSansXFaNum-Bold.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face { font-family: "iranSansLight";
  src: url("../public/font/woff2/IRANSansXFaNum-Light.woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, label, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: "iranSans", sans-serif;
  direction: rtl;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
ul {
  list-style:none;
  margin: 0;
  padding: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

li, p, input, button, textarea, select {
  color: $text-color;
  font-size: 0.8rem ;
  text-align: right;
}
a {
  font-size: 0.8rem ;
  text-align: right;
}
h1, h2, h3, h4, h5, h6, strong, a {
  color: var(--cms-text-color) ;
}

label {
  color: $text-color;
  font-size: 1rem ;
  text-align: right;
}

h1{
  font-size: 1.8rem !important;
  text-align: right;
  font-family: "iranSansBold", serif !important;
}
h2{
  font-size: 1.6rem !important;
  font-family: "iranSansBold", serif !important;
}
h3 {
  font-size: 1.5rem !important;
}
h2, h3, h4 {
  text-align: right;
}

ul{
  margin-bottom: 0!important;
}

a {
  text-decoration: none !important;
}
a:hover {
  color: unset;
}
a:link {
  color: unset;
}
* {
  box-sizing: border-box;
}
.l-spacer-10{
  margin-left: 10px;
}
.l-spacer-20{
  margin-left: 20px;
}
.r-spacer-10{
  margin-right: 10px;
}
.r-spacer-20{
  margin-right: 20px;
}
.pl-pacer-20 {
  padding-left: 20px;
}
.pr-pacer-20 {
  padding-right: 20px;
}

.mouse-pointer {
  cursor: pointer;
}
svg:not(:root) {
  width:100%;
  height: auto;
}
svg path:not(:root) {
  width:100%;
  height: auto;
}
.data-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width:100%;
  margin:0;
}


//corner radius
.cornerStyle-small {
  border-radius: 8px;
}
.cornerStyle-medium {
  border-radius: 16px;
}
.cornerStyle-large {
  border-radius: 100px;
}

.slick-track {
  height: 100%;
}
.slick-list , .slick-dots {
  direction: ltr;
}
.slick-slider {
  display: flex !important;
  flex-direction: column !important;
  height: 100%;
}
.slick-dots {
  position: relative !important;
  bottom: unset !important;
}
.slick-dots li {
  width: 10px !important;
}
.slick-slide > div {
  padding: 0 !important;
  width: 100%;
  height: 100%;
  position: relative;
}
.slick-slide.slick-center img{
  border-bottom: 2px solid $primary-color;
  padding-bottom: 8px;
}
.slick-slide {
  display: flex !important;
  align-items: center;
  //padding: $slick-slide-padding;
}
.slick-slider{
  .slick-arrow{
    display:flex !important;
  }
}
.title {
  font-family: "iranSansBold", serif !important;
  font-size: 0.8rem;
}
.subText {
  font-size: 0.8rem;
}
//@media screen and (max-width: 576px) {
//  .container {
//    padding-right: 15px;
//    padding-left: 15px;
//  }
//}
.swal2-container {
  z-index: 99999999999 !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $disable-color;
  font-size: 0.7rem;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $disable-color;
  font-size: 0.7rem;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $disable-color;
  font-size: 0.7rem;
}

//scroll
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-right: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: #AAAAAA;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

// progressBar
#nprogress .bar {
 z-index: 99999999999999 !important;
  height: 4px !important;
}