@import "variables";

.homeContainer {
  display: flex;
  flex-direction: column;
  background: white;
}
.special {
  align-items: center;
  p {
    color: $primary-color;
  }
}
.actionBtn {
  color: white;
  div {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.backgroundGray {
  background-color: $light-gray;
  > div {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.infoContainer {
  background-color: $light-gray;
  padding: 40px 0;
  margin-bottom: 1.5rem;
}

.commentCardContainer {
  overflow: unset !important;
}

.imgHome {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.catalogItem {
  padding: 0.5rem;
  border-radius: 16px;
}
.catalogBanner, .catalogItem {
  background-color: #F7F7F7;
}
.catalogItemContainer {
  margin-bottom: 1rem;
}
.imgContainer {
  border-radius: 24px;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 576px) {
  .special {
    align-items: flex-start;
  }
}