.light-theme {
  // primary
  --cms-primary: #FA4564;
  --cms-primary-inner-text: white;
  --cms-primary-hover: #ff6782;
  --cms-primary-inner-text-hover: white;

  // secondary
  --cms-secondary: #EBF5FF;
  --cms-secondary-inner-text: white;
  --cms-secondary-hover: #f0f7fd;
  --cms-secondary-inner-text-hover: white;

  // third
  --cms-third: #4F7093;
  --cms-third-inner-text: white;
  --cms-third-hover: #537392;
  --cms-third-inner-text-hover: white;

  // use cases
  --cms-background:#F9F9F9;
  --cms-text-color: #383838;
  --cms-disable-color: #a09c9c;
  --cms-confirm-btn: #40b400;
  --cms-confirm-btn-inner: #fff;
  --cms-confirm-btn-hover: #68b934;
  --cms-confirm-btn-inner-hover: #fff;
  --cms-delete-btn: #FA4564;
  --cms-delete-btn-inner: #ffffff;
  --cms-delete-btn-hover: #ff6782;
  --cms-delete-btn-inner-hover: #ffffff;
  --cms-input-color: #efefef;

  //overall colors
  --cms-white:#ffffff;
  --cms-black:#000000;
  --cms-light-gray:#F7F7F7;
  --cms-green: #138851;
  --cms-blue: #2195ff;
  --cms-red-linear:linear-gradient(252.18deg, #D72339 0.28%, #F23B51 93.8%);
  --cms-red: #D72339;
  --cms-mid-gray:#B9B9B9;
  --cms-dark-gray:#6B7280;
  --cms-yellow: #EBC337;
  --cms-orange: #F99E16;
  --cms-transparent: transparent;

  //form colors
  --cms-form-border:#ced4da;
  --cms-form-background: rgba(255, 255, 255, 0);

  // shadows
  --cms-shadow-a: rgba(52, 37, 31, 0.04);
  --cms-shadow-b: rgba(0,0,0,0.05);
}