//primary color set
$primary-color: var(--cms-primary);
$primary-inner-text: var(--cms-primary-inner-text);
$primary-hover: var(--cms-primary-hover);
$primary-inner-text-hover: var(--cms-primary-inner-text-hover);

//secondary color set
$secondary-color: var(--cms-secondary);
$secondary-inner-text: var(--cms-secondary-inner-text);
$secondary-hover: var(--cms-secondary-hover);
$secondary-inner-text-hover: var(--cms-secondary-inner-text-hover);

//third color set
$third-color: var(--cms-third);
$third-inner-text: var(--cms-third-inner-text);
$third-hover: var(--cms-third-hover);
$third-inner-text-hover: var(--cms-third-inner-text-hover);

// use cases
$main-background: var(--cms-background);
$text-color: var(--cms-text-color);
$disable-color: var(--cms-disable-color);
$disable-inner-color: var(--cms-black);
$confirm-btn: var(--cms-confirm-btn);
$confirm-btn-inner: var(--cms-confirm-btn-inner);
$confirm-btn-hover: var(--cms-confirm-btn-hover);
$confirm-btn-inner-hover: var(--cms-confirm-btn-inner-hover);
$delete-btn: var(--cms-delete-btn);
$delete-btn-inner: var(--cms-delete-btn-inner);
$delete-btn-hover: var(--cms-delete-btn-hover);
$delete-btn-inner-hover: var(--cms-delete-btn-inner-hover);
$input-color: var(--cms-input-color);

//overall colors
$white: var(--cms-white);
$black: var(--cms-black);
$light-gray: var(--cms-light-gray);
$green: var(--cms-green);
$blue: var(--cms-blue);
$red: var(--cms-red);
$red-linear: var(--cms-red-linear);
$mid-gray: var(--cms-mid-gray);
$dark-gray: var(--cms-dark-gray);
$orange: var(--cms-yellow);
$yellow: var(--cms-orange);
$transparent: var(--cms-transparent);

//form colors
$form-border:var(--cms-form-border);
$form-background:var(--cms-form-background);

//shadows
$box-shadow-menu: 0 3px 3px 0 rgb(0 0 0 / 18%);
$box-shadow: 0px 6px 12px 0px var( --cms-shadow-a);
$box-shadow-small: 0 1px 2px var( --cms-shadow-b), inset 0 -15px 10px -12px var( --cms-shadow-b);
$box-shadow-large: 0 10px 20px var( --cms-shadow-b);
$box-shadow-dropped: 0 1px 1px rgb(0 0 0 / 14%), 0 4px 8px rgb(0 0 0 / 30%);
$box-shadow-bottom: 0px 2px 5px rgba(0, 0, 0, 0.1);
$box-shadow-top: 0px 0px 5px rgb(0 0 0 / 14%);

//Paddings
$main-container-padding:1.5rem;
$data-container-padding:0.75rem;
$slick-slide-padding:0.75rem;

:export {
  primary: $primary-color;
  thirdColor: $third-color;
  text-color: $text-color;
  light-gray: $light-gray;
}